<div style="height: calc(100vh - 65px); text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center">
  <h3><i class="fas fa-star-and-crescent fa-4x"></i></h3>
  <h1>Three Penny Operatics </h1>
  <h2>Fat German Lady Sings</h2>
  <h3>The Rise and Fall of the City of Mahagonny</h3>
  <button mdcButton raised>
    <i class="fas fa-university fa-2x"></i>&nbsp;Themed With Memes
  </button>

  <button mdcFab><span mdcFabIcon class="material-icons">smoking_rooms</span></button>
