<div style="height: calc(100vh - 35px); text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center">
  <h1>The Omerta of Goethe </h1>
  <h2>So Sorry, Young Werther </h2>
  <blockquote style="border: 1px">Ετ εθμ ιπσθμ λαβορεσ, ελιτ νονθμυ πραεσεντ νεc εθ, ετ εθμ vιvενδθμ cονvενιρε μοδερατιθσ. Τιμεαμ οπορτεατ πραεσεντ ιδ θσθ, ναμ νε νθμqθαμ μολεστιαε. Ταλε ιμπετθσ ιμπεδιτ θτ ηασ, θτ αθγθε περφεcτο ιθσ. Στετ σθσcιπιτ σαλθτανδι αδ ηασ, ιν vελ σονετ λαθδεμ αλτερα. Σθσcιπιτ vερτερεμ vθλπθτατε νο.</blockquote>
