<div #viewport class="blox-snippet-page">
  <aside [mdcDrawerContainer]="drawerType" [(open)]="open">
    <nav mdcDrawer>

      <!-- <div mdcDrawerToolbarSpacer *ngIf="toolbarSpacer"></div> -->
      <div mdcDrawerHeader *ngIf="toolbarHeader">
        <div mdcDrawerHeaderContent>
          <i class="material-icons w3-margin-right">directions_bike</i>
          O Bloco de Eu Sozinho</div>
      </div>

      <div mdcDrawerContent mdcListGroup>
        <nav mdcList (click)="toggleDrawer()">
          <a mdcListItem routerLink="/novalis" class="w3-margin-top">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">all_inclusive</i>Sturm und Drang
          </a>
          <a mdcListItem routerLink="brecht">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">directions_bike</i>Aufklarung
          </a>
          <a mdcListItem routerLink="novalis">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">beach_access</i>Weimar
          </a>
        </nav>

        <nav mdcList (click)="toggleDrawer()">
            <a mdcListItem routerLink="george">
              <i mdcListItemGraphic class="material-icons" aria-hidden="true">local_bar</i>Biedermeier
            </a>
            <a mdcListItem routerLink="/heine">
              <i mdcListItemGraphic class="material-icons" aria-hidden="true">local_library</i>Innere Emigration
            </a>

            <a mdcListItem routerLink="/george">
              <i mdcListItemGraphic class="material-icons" aria-hidden="true">local_bar</i>Empfindsamkeit
            </a>
            <a mdcListItem routerLink="/holderlin">
              <i mdcListItemGraphic class="material-icons" aria-hidden="true">accessible</i>Bertold Brecht
            </a>
            <a mdcListItem routerLink="/heine">
              <i mdcListItemGraphic class="material-icons" aria-hidden="true">ring_volume</i>Heinrich Heine
            </a>

              <a mdcListItem routerLink="/kleist">
              <i mdcListItemGraphic class="material-icons" aria-hidden="true">local_bar</i>Heinrich von Kleist
            </a>
            <a mdcListItem routerLink="/rilke">
              <i mdcListItemGraphic class="material-icons" aria-hidden="true">smoking_rooms</i>Rainier Maria Rilke
            </a>
            <a mdcListItem routerLink="george">
              <i mdcListItemGraphic class="material-icons" aria-hidden="true">local_bar</i>Stefan George
            </a>
            <a mdcListItem routerLink="/schiller">
              <i mdcListItemGraphic class="material-icons" aria-hidden="true">waves</i>Friederich Schiller
            </a>

          </nav>
        </div>
    </nav>
  </aside>
  <div class="blox-demo-content">
    <header mdcTopAppBar [viewport]="viewport" [fixedAdjust]="content">
      <div mdcTopAppBarRow>
        <section mdcTopAppBarSection alignStart>
          <button mdcTopAppBarNavIcon class="material-icons" (click)="toggleDrawer()">menu</button>
          <i class="fas fa-sun fa-2x"></i>
          <span mdcTopAppBarTitle class="with dignity">{{drawerType | titlecase}}
            Engenhoca Pata-Choca</span>
        </section>
      </div>
    </header>

    <main #content class="blox-demo-main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
